{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "none",
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "options": {
        "singleQuote": false
      }
    }
  ]
}